# Use for debugging in a R.pipe functional programming
snippet rtap
R.tap((variable) => { console.log(variable) }),
endsnippet

# Deep printing of an object
snippet consolelog
console.log(JSON.stringify($1, null, 2))
endsnippet
