.*
!*/
!.vimrc
!.bash_profile
!.bashrc
!.tmux.conf
!.ctags
!.gitignore
!.tmuxinator/*

.Genymobile/*
.Trash/*
.ansible/*
.vagrant.d/*
.android/*
.MacOSX/*
.adobe/*
.aws/*
.cache/*
.cups/
.gem/
.heroku/
.npm/
.pip/
.rvm/
.ssh/
.subversion/
.vimgolf/
.vim/*
.idlerc/*
.tmuxinator/*
/Application/*
/Applications/*
/Desktop/*
/Documents/*
/Downloads/*
/Library/*
/Movies/*
/Music/*
/Pictures/*
/Workspace/*
/s/*
tmux-*.log
VirtualBox VMs
iMacros/
